/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include "custom_behaviors.dtsi"
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "keys_de.h"

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        display-name = "UrsBase";
                        bindings = <
   &kp DE_LT &kp Q            &kp W        &kp E       &kp R        &kp T        &kp DE_Z    &kp U        &kp I        &kp O         &kp P            &kp DE_U_UML 
   &kp TAB   &kp A            &hml LCTRL S &hml LALT D &hml LGUI F  &kp G        &kp H       &hml LGUI J  &hml LALT K  &hml LCTRL L  &kp DE_O_UML     &kp DE_A_UML
   &kp GRAVE &mt LSHIFT DE_Y  &kp X        &kp C       &kp V        &kp B        &kp N       &kp M        &kp COMMA    &kp DOT       &mt RSHFT FSLH  &kp DE_SZ
                                           &lt 3 ESC   &lt 1 SPACE  &lt 2 TAB    &lt 2 BKSP  &lt 1 RET    &lt 3 DEL
                        >;
                };
                navi {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        display-name = "Navi";
                        bindings = <
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &none    &kp PG_DN &kp UP   &kp PG_UP  &kp BKSP   &kp BKSP
   &kp TAB    &none        &kp LCTRL    &kp LALT     &kp LGUI     &none          &kp HOME &kp LEFT  &kp DOWN &kp RIGHT  &kp END    &kp END
   &kp LSHFT  &kp LSHFT    &none        &none        &none        &none          &kp TAB  &none     &none    &none      &kp RSHFT  &kp RSHFT
                          	        &trans       &trans       &trans         &trans   &trans    &trans
                        >;
                };

                numpad {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        display-name = "NumPad";
                        bindings = <
   &kp F1    &kp F2   &kp F3        &kp F4        &kp F5         &kp F6      &kp DE_LT &kp N7   &kp N8  &kp N9  &kp DE_SLASH &kp DE_STAR
   &kp F7    &kp F8   &hml LCTRL F9 &hml LALT F10 &hml LGUI F11  &kp F12     &kp N0    &kp N4   &kp N5  &kp N6  &kp COMMA    &kp DE_MINUS
   &kp LSHFT &none    &none         &none         &none          &none       &kp GRAVE &kp N1   &kp N2  &kp N3  &kp DOT      &kp DE_PLUS
                    	            &trans        &kp SPACE      &trans      &trans    &kp RET  &trans
                        >;
                };

                brackets {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        display-name = "Brackets";
                        bindings = <
   &kp  TAB  &kp EXCL      &kp AT      &kp HASH      &kp DLLR    &kp PRCNT      &kp DE_ACUTE &kp DE_SLASH &kp RA(N7)    &kp RA(LS(N7)) &kp LS(GRAVE)    &kp BSPC
   &kp LCTRL &kp LS(GRAVE) &kp DE_EXCL &kp DE_POUND  &trans      &trans         &kp DE_POUND &kp DE_LBKT  &kp DE_LPAR   &kp DE_RPAR    &kp DE_RBKT.     &kp LS(N2)
   &kp LSHFT &kp RA(N5)    &kp RA(N6)  &kp LS(GRAVE) &kp DE_AMPS &kp DE_PRCNT   &kp RA(N)    &kp GRAVE    &kp RA(N5)    &kp RA(N6)     &kp LS(GRAVE)    &kp LSHFT
                    	               &trans        &trans      &trans         &trans       &trans       &trans
                        >;
                };

                extra_1 {
                        status = "reserved";
                };

                extra_2 {
                        status = "reserved";
                };

                extra_3 {
                        status = "reserved";
                };
        };
};
